<div class="container" style="margin-top: 10px;">
  <h1>{{title}}</h1>
  <div>
    
      <select #box1 placeholder="attribute">
        <option value="name" selected>Name</option>
        <option value="director">Director</option>
        <option value="release date">Release Date</option>
      </select>
      <input type="text" #box2 placeholder="value">
    
    <button (click)="findMovie(box1.value,box2.value)" >Find Movie</button>
  </div>
  <button (click)="getMovies()" >Get All Movies</button>
  <ul>
    <li class="list-unstyled" *ngFor="let movie of movies">
      {{movie.name}} - {{movie.director}} - {{movie.releaseDate}}
    </li>
  </ul>
</div>
